In [1]:
import pandas as pd

In [2]:
bike_data_to_load = "JC-201908-citibike-tripdata.csv"
bike_data_df = pd.read_csv(bike_data_to_load)
bike_data_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,261,14:56.0,19:17.5,3205,JC Medical Center,40.716540,-74.049638,3192,Liberty Light Rail,40.711242,-74.055701,26268,Subscriber,1980,1
1,172,23:07.0,25:59.1,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,26162,Subscriber,1996,1
2,525,23:28.6,32:13.7,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29279,Subscriber,1991,1
3,219,32:36.1,36:15.3,3187,Warren St,40.721124,-74.038051,3185,City Hall,40.717732,-74.043845,29598,Subscriber,1988,1
4,262,41:26.7,45:49.4,3186,Grove St PATH,40.719586,-74.043117,3272,Jersey & 3rd,40.723332,-74.045953,26162,Subscriber,1960,1

In [3]:
bike_data_df['tripduration'] = pd.to_datetime(bike_data_df["tripduration"], unit='s')
bike_data_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 00:04:21,14:56.0,19:17.5,3205,JC Medical Center,40.716540,-74.049638,3192,Liberty Light Rail,40.711242,-74.055701,26268,Subscriber,1980,1
1,1970-01-01 00:02:52,23:07.0,25:59.1,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,26162,Subscriber,1996,1
2,1970-01-01 00:08:45,23:28.6,32:13.7,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29279,Subscriber,1991,1
3,1970-01-01 00:03:39,32:36.1,36:15.3,3187,Warren St,40.721124,-74.038051,3185,City Hall,40.717732,-74.043845,29598,Subscriber,1988,1
4,1970-01-01 00:04:22,41:26.7,45:49.4,3186,Grove St PATH,40.719586,-74.043117,3272,Jersey & 3rd,40.723332,-74.045953,26162,Subscriber,1960,1

In [4]:
bike_data_df.to_csv('201908-citibike-tripdata-CONVERTED.csv',index=False)